body{
    font-family: 'Arial';
    background-color: #050524;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#datosCont{
    position: fixed;
    width: 300px;
    top: 10px;
    left: 10px;
    background-color: rgba(9, 53, 92, 0.205);
    padding: 0 20px 20px 20px;
    border-radius: 20px;
}
.inputsManual{ 
    width: 70px;
    color: white;
    background-color: rgba(177, 175, 212, 0.342);
    border: 0;
}
#canvasCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}
#myCanvas{
    display: block;
}

#inputColor{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
}